

/* Navbar */
.nav-mob-btn{
  display: none;
}
@media screen and (max-width: 767px) {
  .nav-mob-btn{
    display: flex;
  }
  .navbar-mob{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
      
  }
  .switch{
    transform: none;
  }
}

/* HeroSection */
.mainhero-container{
  background-image: url('../public/assets/hero-img.png');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

/* Team */
.team-card-div{
  /* width: ; */
}

/* HomeStep */
.homestep-container{
  background-image: url('../public/assets/subhero-img.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

/* Hero Section */
.hero-grp{
  background-image: url('../public/assets/subhero-img.png');
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
}